<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav id="anamenu">
    <div class="topnav text-center align-items-center" id="myTopnav">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Ana Sayfa</a>
        
        <!-- <a href="#"><i class="fa fa-fw fa-money"></i> Bakiye Ekle</a> -->
        <a href="" routerLink = "/iletisim" ><i class="fa fa-fw fa-envelope" ></i> İletişim</a>
        <a href="https://www.youtube.com/channel/UCf2Pt6EiFuLkvapaoxECeVg" target="_blank"><i class="fa fa-fw fa-youtube"></i> Youtube</a>
        <a href="https://twitter.com/Slymnn_" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
        <a href="https://www.instagram.com/slymnn_/" target="_blank"><i class="fa fa-fw fa-instagram"></i> İnstagram</a>      
        <a ><i class="fa fa-fw fa-question"></i> Sıkça Sorulan Sorular</a>
        <a ><i class="fa fa-fw fa-address-book"></i> Hakkımızda</a>
        
    </div>
  </nav>



