<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand navbar-dark bg-dark text-center navbarsettings" >
  <div class="container-fluid " >
    <a class="navbar-brand" href="#">
      <img src="https://icons.iconarchive.com/icons/kzzu/surprise/128/Gift-4-icon.png" alt="" height="50" class="d-inline-block align-text-center ">
      GAMER ÇEKİLİŞ
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse container"   >
      <!-- <ul class="navbar-nav  " > -->
       
      <a class="nav-link " routerLink = "/products" style="color: white;"><i class="fa fa-fw fa-home" style="color: white;"></i> Ana Sayfa</a>
      <a class="nav-link active" aria-current="page" href="#"style="color: white;" ><i class="fa fa-fw fa-address-book"style="color: white;"></i> Hakkımızda</a>
      <a class="nav-link active" aria-current="page" href="#"style="color: white;"><i class="fa fa-fw fa-question"style="color: white;"></i> Sıkça Sorulan Sorular</a>
      <a class="nav-link active"  routerLink = "/iletisim"style="color: white;"><i class="fa fa-fw fa-question"style="color: white;"></i> İletişim</a>
      <a class="nav-link active"  routerLink = "/iletisim"style="color: white;"><i class=" fa fa-plus-circle"style="color: white;"></i> Çekiliş Yap</a>
      <a class="nav-link active"  routerLink = "/iletisim"style="color: white;"><i class="  fa fa-money"style="color: white;"></i> Bakiye Ekle</a>
      <!-- </ul> -->
     
      <a >
         <div *ngIf="checkToLogin()==true">
        <div class="dropdown" >
          <div class="btn-group">
            <button  type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"  id="navbarDropdown" *ngFor="let user of users" >
             <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/32/Places-user-identity-icon.png" alt=""  > <strong>{{user.firstName}}</strong> 
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" type="button" (click)="ticketsRoute()">Bilet Alanlar</a>
              <a class="dropdown-item" type="button" >Ayarlar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" type="button" (click)="logout()">Çıkış Yap</a>
            </div>
          </div>
        </div>
        </div>
      </a>
     
    </div>
  </div>
</nav>

