
.sidebar {

    background-color: rgb(27, 27, 27);
    
    padding-top: 16px;
  }
   
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color:white;
  }

  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
    
.deneme{
  
    border-radius: 175px;
    border-color: rgb(203, 204, 204);
    border-width: 4px;
    border-style: solid;
    width: 200px;
    text-align: center;
     

    }






   