

<div *ngIf="checkToLogin()==true" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar container ">
    <header class="avatar  ">
        <img src="https://img.pngio.com/david-beckham-face-close-up-transparent-png-stickpng-david-beckham-png-253_253.png "  class="card-img-top deneme " />
    <h2 style="color: white; text-align: center;">Süleyman</h2>
    </header>
  <a href="#home"><i class="fa fa-fw fa-user-circle-o"></i> Profil</a>
  <a href="#home"><i class="fa fa-fw fa-money"></i> Bakiye Ekle</a>
  <a href="#services"><i class="fa fa-fw fa-gift"></i> Çekiliş Listesi</a>
  <a href="#clients"><i class="fa fa-fw fa-plus-circle"></i>Çekiliş Ekle</a>
  <a href=""><i class="fa fa-fw fa-power-off  " (click)="logout()"></i> Çıkış </a>
</div>
</div>
