<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav id="anamenu">
    <div class="topnav text-center align-items-center" id="myTopnav">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Ana Sayfa</a>
        
        <!-- <a href="#"><i class="fa fa-fw fa-money"></i> Bakiye Ekle</a> -->
        <a href="#"><i class="fa fa-fw fa-envelope"></i> İletişim</a>
        <a href="#"><i class="fa fa-fw fa-youtube"></i> Youtube</a>
        <a href="#"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
        <a href="#"><i class="fa fa-fw fa-instagram"></i> İnstagram</a>
        <a href="#"><i class="fa fa-fw fa-question"></i> Sıkça Sorulan Sorular</a>
        <a href="#"><i class="fa fa-fw fa-address-book"></i> Hakkımızda</a>

    </div>
  </nav>



